@import "./overrrides";

body {
    overflow-x: clip;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.h-playBar {
    height: 10px;
}

li {
    list-style: none;
}

.navAnchor {
    text-decoration: none;
    color: white;
    cursor: pointer;

    &:hover {
        color: white;
        font-weight: 700;
    }
}

.plus {
    background-color: white;
    padding-block: 2px;
    padding-inline: 6px;
    font-size: 15px;
    border-radius: 5px;
}
.heart {
    background: rgb(46, 12, 149);
    background: linear-gradient(139deg, rgba(46, 12, 149, 1) 37%, rgba(255, 255, 255, 1) 100%);
    padding-block: 2px;
    padding-inline: 6px;
    font-size: 15px;
    border-radius: 5px;
}
.label {
    background-color: #004537;
    padding-block: 2px;
    padding-inline: 6px;
    font-size: 15px;
    border-radius: 5px;
}

.cont-1 {
    height: 60vh;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.friends {
    div {
        img {
            width: 40px;
            border-radius: 50%;
        }
    }
}

.button {
    color: white;

    &:hover {
        color: #08fc1e;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.gradient-spotify {
    background: rgb(2, 0, 36);
    background: -moz-linear-gradient(
        180deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(0, 0, 0, 1) 0%,
        rgba(237, 57, 212, 1) 0%,
        rgba(13, 110, 253, 1) 0%,
        rgba(111, 106, 106, 1) 0%,
        rgba(0, 0, 0, 1) 100%
    );
    background: -webkit-linear-gradient(
        180deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(0, 0, 0, 1) 0%,
        rgba(237, 57, 212, 1) 0%,
        rgba(13, 110, 253, 1) 0%,
        rgba(111, 106, 106, 1) 0%,
        rgba(0, 0, 0, 1) 100%
    );
    background: linear-gradient(
        180deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(0, 0, 0, 1) 0%,
        rgba(237, 57, 212, 1) 0%,
        rgba(13, 110, 253, 1) 0%,
        rgba(111, 106, 106, 1) 0%,
        rgba(0, 0, 0, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#000000",GradientType=1);
}

.bg-custom {
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(44deg, rgba(0, 0, 0, 1) 45%, rgba(54, 54, 54, 1) 81%, rgba(51, 51, 51, 1) 95%);
    background: -webkit-linear-gradient(44deg, rgba(0, 0, 0, 1) 45%, rgba(54, 54, 54, 1) 81%, rgba(51, 51, 51, 1) 95%);
    background: linear-gradient(44deg, rgba(0, 0, 0, 1) 45%, rgba(54, 54, 54, 1) 81%, rgba(51, 51, 51, 1) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=  #000000 ,endColorstr=#333333,GradientType=1);
}

.w-60 {
    width: 60% !important;
}

.start-60 {
    left: 60% !important;
}

.bg-button {
    background-color: #1e1e1e;
}

.mb-6 {
    margin-bottom: 4rem !important;
}

.secondary-light {
    background-color: rgb(201, 191, 191);
}

.Content-area {
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 37%,
        rgba(191, 168, 2, 1) 63%,
        rgba(231, 204, 3, 1) 77%,
        rgba(255, 225, 3, 1) 94%
    );
    background: -webkit-linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 37%,
        rgba(191, 168, 2, 1) 63%,
        rgba(231, 204, 3, 1) 77%,
        rgba(255, 225, 3, 1) 94%
    );
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 37%,
        rgba(191, 168, 2, 1) 63%,
        rgba(231, 204, 3, 1) 77%,
        rgba(255, 225, 3, 1) 94%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#ffe103", GradientType=1);
}

.text-shadow {
    text-shadow: 3px 3px white;
}

.text-shadow-sm {
    text-shadow: 1px 1px white;
}

.overflow-section {
    overflow-y: scroll;
    height: 50vh;
}

.overflow-section-modified {
    overflow-y: scroll;
    height: 94vh;
    overflow-x: clip;
}

.min-width-1 {
    min-width: 200px;
}

.min-width-2 {
    min-width: 100px;
}

.min-width-3 {
    min-width: 70px;
}

.small-card {
    max-width: 80px;
}

.Content-area {
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 37%,
        rgba(191, 168, 2, 1) 63%,
        rgba(231, 204, 3, 1) 77%,
        rgba(255, 225, 3, 1) 94%
    );
    background: -webkit-linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 37%,
        rgba(191, 168, 2, 1) 63%,
        rgba(231, 204, 3, 1) 77%,
        rgba(255, 225, 3, 1) 94%
    );
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 37%,
        rgba(191, 168, 2, 1) 63%,
        rgba(231, 204, 3, 1) 77%,
        rgba(255, 225, 3, 1) 94%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#ffe103", GradientType=1);
}

.positionCustom {
    bottom: 0.6rem;
    right: 1rem;
}

.customCard:hover .positionCustom {
    display: block;
    width: 2.7rem;
    bottom: 0.8rem;
    right: 1rem;
    padding-left: 0.2rem;
    cursor: pointer;
    background-color: #08fc1e;
    border-radius: 100px;
    animation-name: rotate;
    animation-duration: 0.7s;
    animation-direction: inherit;
}
@keyframes rotate {
    0% {
        transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
        transform: scale(1);
    }
}

.w-80 {
    width: 80%;
    margin-inline-start: auto;
}

input[type="range"]::-webkit-slider-thumb {
    /**/
    mix-blend-mode: color;
}
input[type="range"] {
    background-color: white;
}
input {
    accent-color: white;
}

#progress {
    //    -webkit-appearance: none;
    accent-color: #08fc1e;
    width: 100%;
    height: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0;
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    background: #08fc1e;

    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 5px 10px #08fc1e;
}
/*  */

#playerBar {
    //    -webkit-appearance: none;
    accent-color: #08fc1e;
    width: 100%;
    height: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0;
}

#playerBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    background: #08fc1e;

    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 5px 10px #08fc1e;
}
